/*
DEFINIÇÕES GLOBAIS
*/

/*FONTE PRINCIPAL*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

/*FONTE h3*/
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

:root {
    --amarelo: #f3f300;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.2rem;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}

/*
TIPOGRAFIA
*/
h1 {
    color: var(--amarelo);
    text-transform: Capitalize;
    font-size: 56px;
    letter-spacing: normal;
    font-weight: 100;
}

h2 {
    text-transform: Capitalize;
    font-size: 48px;
    letter-spacing: 1vh;
}


h3 {
    /*FONTE ESPECÍFICA*/
    font-family: Comfortaa;
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: -0.5vh;
    font-weight: 100;
}

h4{
    font-size: 28px;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
    color: black;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

/*p {}*/

header {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    /*TAMANHO*/
    width: 100vw;
    height: 72px;
    /*ESTILO*/
    background-color: white;
    color: black;
    box-shadow: 2px 2px 8px black inset;
}

header h3 {
    text-transform: capitalize;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: context-menu;
    /*font-size: ;*/
}

/*PARÁGRAFOS DO header*/
header p {
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*LISTAS DO header*/
header li {
    padding: 8px;
}

main {
    padding: 16px;
    /*DISPLAY*/
    display: grid;
    /*COLUNAS DO main*/
    grid-template-columns: auto auto;
    /*LINHAS DO main*/
    grid-template-rows: auto auto auto;
    /*ESPAÇAMENTO ENTRE LINHAS*/
    grid-row-gap: 16px;
}

/*PARÁGRAFOS NO main*/
main p {
    text-align: justify;
}

footer {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*TAMANHO*/
    width: 100vw;
    height: 280px;
    /*ESTILO*/
    background-color: blueviolet;
}

footer p {
    /*ESTILO*/
    color: white;
    text-align: justify;
}

/*CONTAINER*/
#ambiente {
    /*TAMANHO*/
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: transparent;
    font-family: Roboto Slab;
}

.bloco-1 {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bloco-2 {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.bloco-3 {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}

/*
DESCRIÇÃO DOS ITENS
*/
#sub-1, #sub-2, #sub-3{
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*
RESPONSIVIDADE
*/
@media screen and (max-width: 720px) {

    /*
    DEFINE A CONFIGURAÇÃO DE COLUNA AO INVÉS DE LINHAS PARA flexbox
    */
    #ambiente {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    header {
        flex-direction: column;
    }

    .bloco-1, .bloco-2, .bloco-3{
        flex-direction: column;
    }
}