/*
DEFINIÇÕES GLOBAIS
*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.2rem;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}

@media screen and(max-width: 720px){
    #ambiente{
        flex-direction: column;
    }
}

/*
TIPOGRAFIA
h1{
}
*/
h2{
    text-transform: Capitalize;
    font-size: 48px;
    letter-spacing: 1vh;
}
/*
h3{
}

p{
}    
*/

#ambiente{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    font-family: Roboto Slab;
}

main p{
    padding-bottom: 16px;
}